body{
    font-family: 'Montserrat', helvetica, sans-serif;
}

.bar1{
    background-color: white;
}
.bar2{
    background-color: rgba(255,255,0,1);
}
.bar3{
    background-color: rgba(255,0,0,0.6);
}
.bar4{
    background-color: rgba(0,255,0,0.6);
}

.container{
    padding: 0;
    margin: auto;
    width: 100%;
    overflow: hidden;
}
/*styling for entire title page basically*/
/* top|right|bottom|left */ 
#title{
    margin: auto;
    max-height: 100%;
    vertical-align: center;
}
#content{
    padding: 5%;
    margin: auto;
    max-height: 100%;
    vertical-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    font-size: 8em;
    text-align: left;
    padding: 0 0 0 30%; 
}

.row p{
  /* margin-left: 7%;
   margin-right: auto;*/
   margin: auto;
}

p {
    /*font-family: 'Roboto', sans-serif; */
    font-weight: 800;
    font-size: 1em;
    text-align: left;
    padding: 0 0 0 0; 
    /*color: #4d4d4d;*/
    color: black;
}


p.index-link-styling{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 4em;
    text-align: left;
    bottom: 0;
}

col-md-8p.index-link-styling-1{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 4em;
    text-align: left;
    margin-bottom: 3%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: grey;
    padding: 0 0 0 10%; 
    margin-top: 1em;
}


/*navbar styling*/
/*.navbar{
    background-color: #fff;
    border-bottom: .15em solid #33000d;
    margin-bottom: 0;
}

.container .navbar-header {
    padding: 0.25% 0 0 1%;
    margin: auto;
}

.container .navbar-right {
    padding: 0.25% 1% 0 0;
    margin: auto;
}


.row h4{
   margin-left: 11%;
   margin-right: auto;
}

.row #indented{
   margin-left: 11%;
   margin-right: auto; 
}

.row img{
    margin-right: 0;
    margin-right: auto;
}

.row h3{
    margin-left: 2%;
    margin-right: auto;
}
*/
/*Changing color for the button*/
/*button.navbar-toggle{
    background:transparent;
    border-color:transparent;
    margin-bottom: 1%;
}

button.navbar-toggle span{
   background:#3c3c3c;
   opacity: 0.8;
}
*/
/*modifies styling of navbar left */
/*.navbar-brand {
    font-family: 'Amiko', sans-serif;   
    color: #33000d;
    font-weight: 400;
    font-size: 2.5em;  
}

a.navbar-brand:hover{
    font-weight: bold;
    border-bottom: .05em solid #33000d;
    color: #000;
}*/

/*modifies styling of navbar right */
/*.navbar-right a{
    font-family: 'Amiko', sans-serif;   
    color: #3c3c3c;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
}

.nav li a{
    margin-bottom: 0;
    margin-top:0;
}

.nav li a:hover{
    background-color: transparent;
    font-weight: bold;
    color: #000;
    border-bottom: .05em solid #33000d;
}*/

/* collapsed menu*/
/*.navbar-nav {
    color: #000;
    text-align: center;
}
*/

/*General style*/

/*individual pages style*/
h3 {
    font-family: 'Amiko', sans-serif; 
    font-weight: 500;
    font-size: 2.3em;
    text-align: left;
    padding: 1.5% 0 0 0; 
    color: #252525;
}

h4 {
    font-family: 'Amiko', sans-serif; 
    font-weight: 500;
    font-size: 1.2em;
    text-align: left;
    padding: 1.5% 0 0 0; 
    color: #252525;
    text-transform: uppercase;
}

h4 img{
    width: 100%;
    height: auto;
}

p.quote{
    font-family: 'Amiko', sans-serif; 
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    padding: 1.5% 0 0 0; 
    color: #484848;
}

/*styles text that spans page to full bleed*/
.col-md-12 p{
    padding-right: 25%;
    text-align: left;
    height: auto;
}

/*sizes images*/
.col-md-2 img{
    width: 100%;
    height: auto;
    padding: 0 0 0 0; 
}
.col-md-4 img{
    width: 100%;
    height: auto;
    padding: 0 0 0 0; 
}
.col-md-5 img{
    width: 82%;
    height: auto;
    padding: 0 0 0 0; 
}
.col-md-6 img{
    width: 100%;
    height: auto;
    padding: 0 0 0 0; 
}
.col-md-8 img{
    width: 100%;
    height: auto;
    padding: 0 0 0 0; 
}

.col-md-10 img{
    width: 100%;
    height: auto;
    padding: 0 0 0 0; 
}
.col-md-12 img{
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
}

/* responsive styling for font size in landing page*/
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 8em;
    }

    p.index-link-styling{
        font-size: 4em;
    }
}

@media screen and (max-width: 815px) {
    h1 {
        font-size: 6em;
    }
    
    p.index-link-styling{
        font-size: 3em;
    }
}

@media screen and (max-width: 615px) {
    h1 {
        font-size: 4em;
    }
    
    p.index-link-styling{
        font-size: 2em;
    }
}
